
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            margin: 0;
            color: #595959;
            font-family: "Open Sans", sans-serif;
            background-image: url('bg.png'); 
            background-size: cover;
        }

        #form-container {
            width: 90%;
            max-width: 600px;
            padding: 40px;
            border: 2px solid #7B2841;
            border-radius: 10px;
            background-color: white;
        }

        h1 {
            color: #7B2841;
            margin-bottom: 30px;
            text-align: center;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 10px;
        }

        input[type="text"],
        textarea {
            width: 95%;
            padding: 12px;
            margin-bottom: 20px;
            border: 1px solid #7B2841;
            border-radius: 5px;
            background-color: #E5E5E5;
            color: #595959;
        }

        textarea {
            resize: vertical;
        }

        .save-button {
            background-color: #D93263;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
        }

        .save-button:hover {
            background-color: #C22B55;
        }

        #result-box {
            display: none;
            border: 1px solid #7B2841;
            border-radius: 5px;
            padding: 6px;
            background-color: white;
            margin-top: 10px;
        }

        #result-box h2 {
            color: #7B2841;
            margin: 4px;
        }

        #result-box input[type="text"] {
            width: 95%;
            padding: 6px;
            border: 0.5px solid #7B2841;
            border-radius: 5px;
            background-color: #E5E5E5;
            color: #595959;
            font-weight: bold;
         
        }
 