<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular Developer</title>

    {% load static %}

    <link href="{% static 'cvDashboard/job_styles.css' %}" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
      rel="stylesheet"
    />
    <style>
      /* #dragCard {
        display: flex;
        justify-content: space-between;
        align-items: center;
      } */

      #dragCard p {
        margin: 0; /* Removes default paragraph margins */
      }

      #dragCard input[type="file"],
      #dragCard input[type="submit"] {
        margin-right: 10px; /* Spacing between the two buttons */
      }
      .file-upload-label {
        padding: 10px 15px;
        background-color: black;
        color: white;
        border-radius: 5px;
        cursor: pointer;
      }

      #selectedFileName {
        margin-left: 10px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <h1>
              <img
                src="{% static 'LandingPage/assets/logo_white.png'%}"
                alt=""
                style="width: 10rem"
              />
            </h1>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="#">
            <span class="material-symbols-sharp"> grid_view </span>
            <h3>Dashboard</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> task_alt </span>
            <h3>Tasks</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> chat </span>
            <h3>Messages</h3>
            <span class="message-count">26</span>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> settings </span>
            <h3>Settings</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>

      <main>
        <h1 class="job_title">{{ job_title }}</h1>
        <div class="cards-row">
          <div class="drag-image" id="dragCard">
            <form
              action="{%url 'list'%}"
              method="post"
              enctype="multipart/form-data"
            >
              {% csrf_token %}

              <label for="id_file" class="file-upload-label">
                Browse
                <input
                  type="file"
                  id="id_file"
                  name="file"
                  style="display: none"
                  onchange="displayFileName(event)"
                />
              </label>
              <span id="selectedFileName">No file chosen</span>

              <input type="submit" value="Upload" />
            </form>
          </div>

          <div class="card number-input text-styled">
            <h3>Select no. of candidates</h3>
            <input type="number" id="candidateCount" value="1" min="1" />
          </div>
          <div class="card team-collaboration text-styled">
            <h3>Add Collaborators</h3>
            <div class="collaborator-input">
              <input
                type="email"
                id="gmailInput"
                placeholder="Enter Gmail ID"
              />
              <button class="invite-button">Invite</button>
            </div>
            <div class="collaborator-list"></div>
          </div>
        </div>
        <div class="save-btn-container">
          <button class="save-btn">Save</button>
        </div>
        <div class="job-table">
          <h2>Job applicants</h2>
          <table>
            <thead>
              <tr>
                <th>Ranking</th>
                <th>Applicant Name</th>
                <th>Positive</th>
                <th>Negative</th>
                <th>Status</th>
                <th>Action</th>
                <th>Questions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Mallika</td>
                <td>Pretty</td>
                <td>Stupid</td>
                <td class="status-cell">
                  <div class="status-text">Shortlisted</div>
                  <button class="status-icon tick">
                    <i class="fas fa-check"></i>
                  </button>
                  <button class="status-icon cross">
                    <i class="fas fa-times"></i>
                  </button>
                </td>
                <td class="action-cell">
                  <span class="action-text">Send mail</span>
                  <button class="action-icon send-mail">
                    <i class="fas fa-envelope"></i>
                  </button>
                </td>
                <td>
                  <a
                    href="https://docs.google.com/document/d/your_google_doc_link"
                    target="_blank"
                    >See doc</a
                  >
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>yuta</td>
                <td>Pretty</td>
                <td>Stupid</td>
                <td class="danger">Rejected</td>
                <td>Send Rejection mail</td>
                <td>Archive</td>
              </tr>
              <tr>
                <td>3</td>
                <td>Preetam</td>
                <td>Pretty</td>
                <td>Stupid</td>
                <td class="danger">Rejected</td>
                <td>Send rejection mail</td>
                <td>Archive</td>
              </tr>
            </tbody>
          </table>
          <a href="#">Show All</a>
        </div>
      </main>

      <div class="right">
        <div class="top">
          <div class="profile">
            <div class="info">
              <p>Hey, <b>Gourav</b></p>
              <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
              <img src="{% static 'cvDashboard/assets/Gouravv.png'%}" alt="" />
            </div>
          </div>
        </div>
        <div class="recent-updates">
          <h2>Recent Updates</h2>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img src="{% static 'cvDashboard/assets/updates.png'%}" />
              </div>
              <div class="message">
                <p>The candidates have been <b>shortlisted!</b></p>
                <small class="text-muted">2 mins ago</small>
              </div>
            </div>
          </div>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img src="{% static 'cvDashboard/assets/updates.png'%}" />
              </div>
              <div class="message">
                <p>The candidates have been <b>shortlisted!</b></p>
                <small class="text-muted">2 mins ago</small>
              </div>
            </div>
          </div>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img src="{% static 'cvDashboard/assets/updates.png'%}" />
              </div>
              <div class="message">
                <p>Welcome to <b>AxisHR!</b></p>
                <small class="text-muted">2 days ago</small>
              </div>
            </div>
          </div>
        </div>

        <div class="vertical-progress-bar">
          <div class="wrapper">
            <ul class="StepProgress">
              <div class="StepProgress-item is-done">
                <strong>Job Creation</strong>
              </div>
              <div class="StepProgress-item is-done">
                <strong>CVs uploaded</strong>
              </div>
              <div class="StepProgress-item is-done">
                <strong>Status Processing</strong>
              </div>
              <div class="StepProgress-item current">
                <strong>Status verification</strong>
              </div>
              <div class="StepProgress-item current">
                <strong>Mail Dispatch</strong>
              </div>
              <div class="StepProgress-item current">
                <strong>Question Formulation</strong>
              </div>
              <div class="StepProgress-item current">
                <strong>Interview Scoring</strong>
              </div>
              <div class="StepProgress-item current">
                <strong>Final Candidate Selection</strong>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'cvDashboard/main.js' %}"></script>
  </body>
</html>
