<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    {% load static %}

    <link
      href="{% static 'dashboard/dashboard_styles.css' %}"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <h1>HRLogicx</h1>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="#">
            <span class="material-symbols-sharp"> grid_view </span>
            <h3>Dashboard</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> task_alt </span>
            <h3>Tasks</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> chat </span>
            <h3>Messages</h3>
            <span class="message-count">26</span>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> settings </span>
            <h3>Settings</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>

      <main>
        <h1 class="title">Dashboard</h1>

        <div class="cards-links">
          <div class="actions job">
            <a href="{% url 'create_job' %}">
              <div class="card">
                <div class="icon-container">
                  <span class="material-symbols-sharp">add</span>
                </div>
                <h3>Create Job</h3>
              </div>
            </a>
          </div>

          <div class="actions job">
            <div class="card">
              <img
                src="{% static 'dashboard/assets/job_an.png' %}"
                alt=""
                class="card-image"
              />
              <h3>Angular Developer</h3>
              <small class="text-muted">Created on 04/08/2023</small>
            </div>
          </div>
          <div class="actions job">
            <div class="card">
              <img
                src="{% static 'dashboard/assets/job_py.png' %}"
                alt=""
                class="card-image"
              />
              <h3>Python Developer</h3>
              <small class="text-muted">Created on 02/08/2023</small>
            </div>
          </div>
        </div>

        <!-- Additional cards with "Manage Jobs" heading -->
        <h2 class="manage-jobs-title">Manage Jobs</h2>
        <div class="cards-links">
          <div class="actions job">
            <div class="card">
              <img
                src="{% static 'dashboard/assets/job_BACK.png' %}"
                alt=""
                class="card-image"
              />
              <h3>Back-end Developer</h3>
              <small class="text-muted">Created on 02/08/2023</small>
            </div>
          </div>

          <div class="actions job">
            <div class="card">
              <img
                src="{% static 'dashboard/assets/job_py.png' %}"
                alt=""
                class="card-image"
              />
              <h3>Product manager</h3>
              <small class="text-muted">Created on 02/08/2023</small>
            </div>
          </div>

          <div class="actions job">
            <div class="card">
              <img
                src="{% static 'dashboard/assets/job_mlpng.png' %}"
                alt=""
                class="card-image"
              />
              <h3>ML Engineer</h3>
              <small class="text-muted">Created on 01/08/2023</small>
            </div>
          </div>
        </div>
      </main>

      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-symbols-sharp">menu</span>
          </button>
          <div class="profile">
            <div class="info">
              <p>Hey, <b>Gourav</b></p>
              <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
              <img src="{% static 'dashboard/assets/Gouravv.png' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="recent-updates">
          <h2>Recent Updates</h2>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img src="{% static 'dashboard/assets/updates.png' %}" />
              </div>
              <div class="message">
                <p>
                  The candidates have been <b>ranked</b> for
                  <b>Angular Developer.</b>
                </p>
                <small class="text-muted">2 mins ago</small>
              </div>
            </div>
          </div>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img src="{% static 'dashboard/assets/updates.png' %}" />
              </div>
              <div class="message">
                <p>
                  The candidates have been <b>shortlisted</b> for
                  <b>Python Developer.</b>
                </p>
                <small class="text-muted">1 hr ago</small>
              </div>
            </div>
          </div>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img src="{% static 'dashboard/assets/updates.png' %}" />
              </div>
              <div class="message">
                <p>Welcome to <b>AxisHR!</b></p>
                <small class="text-muted">2 days ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>

{% static 'dashboard/assets/updates.png' %}
