<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>

    {% load static %}

    <link
      href="{% static 'dashboard/dashboard_styles.css' %}"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container">
      <aside>
        <div class="top">
          <div class="logo">
            <h1>HRLogicx</h1>
          </div>
          <div class="close" id="close-btn">
            <span class="material-symbols-sharp"> close </span>
          </div>
        </div>
        <div class="sidebar">
          <a href="#">
            <span class="material-symbols-sharp"> grid_view </span>
            <h3>Dashboard</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> task_alt </span>
            <h3>Tasks</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> chat </span>
            <h3>Messages</h3>
            <span class="message-count">26</span>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> settings </span>
            <h3>Settings</h3>
          </a>
          <a href="#">
            <span class="material-symbols-sharp"> logout </span>
            <h3>Logout</h3>
          </a>
        </div>
      </aside>

      <main>
        <h1>Dashboard</h1>

        <div class="date">
          <input type="date" id="dateInput" placeholder="DD/MM/YYYY" />
        </div>

        <div class="actions">
          <a href="{% url 'create_job' %}" class="create">
            <div class="middle">
              <div class="icon-container">
                <span class="material-symbols-sharp"> add </span>
              </div>
              <h3>Create Job</h3>
            </div>
          </a>

          <div class="see">
            <div class="middle">
              <div class="icon-container">
                <span class="material-symbols-sharp"> add </span>
              </div>
              <h3>Job Title 1</h3>
              <small class="text-muted">Created on 01/08/2023</small>
            </div>
          </div>
          <div class="dont">
            <div class="middle">
              <div class="icon-container">
                <span class="material-symbols-sharp"> add </span>
              </div>
              <h3>Job Title 2</h3>
              <small class="text-muted">Created on 01/08/2023</small>
            </div>
          </div>
        </div>

        <!-- Additional cards with "Manage Jobs" heading -->
        <h2>Manage Jobs</h2>
        <div class="cards-links">
          <div class="actions">
            <div class="job">
              <div class="middle">
                <div class="icon-container">
                  <span class="material-symbols-sharp"> add </span>
                </div>
                <h3>Job Title 3</h3>
                <small class="text-muted">Created on 01/08/2023</small>
              </div>
            </div>
          </div>

          <div class="actions">
            <div class="job">
              <div class="middle">
                <div class="icon-container">
                  <span class="material-symbols-sharp"> add </span>
                </div>
                <h3>Job Title 4</h3>
                <small class="text-muted">Created on 01/08/2023</small>
              </div>
            </div>
          </div>

          <div class="actions">
            <div class="job">
              <div class="middle">
                <div class="icon-container">
                  <span class="material-symbols-sharp"> add </span>
                </div>
                <h3>Job Title 5</h3>
                <small class="text-muted">Created on 01/08/2023</small>
              </div>
            </div>
          </div>
        </div>
      </main>

      <div class="right">
        <div class="top">
          <button id="menu-btn">
            <span class="material-symbols-sharp"> menu </span>
          </button>

          <div class="profile">
            <div class="info">
              <p>Hey, <b>Gourav</b></p>
              <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
              <img
                src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.stack.imgur.com%2Fwb3fS.png&tbnid=s0-fNUsY5SqDSM&vet=12ahUKEwjuqsTM2MeAAxUyoekKHWKBDVcQMygBegUIARDcAQ..i&imgrefurl=https%3A%2F%2Fstackoverflow.com%2Fquestions%2F72492218%2Fdjango-user-model-employee-and-customer&docid=6rlVW4oihbKxcM&w=1632&h=1394&q=django%20user%20model&ved=2ahUKEwjuqsTM2MeAAxUyoekKHWKBDVcQMygBegUIARDcAQ"
                alt=""
              />
            </div>
          </div>
        </div>
        <div class="recent-updates">
          <h2>Recent Updates</h2>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img
                  src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.stack.imgur.com%2Fwb3fS.png&tbnid=s0-fNUsY5SqDSM&vet=12ahUKEwjuqsTM2MeAAxUyoekKHWKBDVcQMygBegUIARDcAQ..i&imgrefurl=https%3A%2F%2Fstackoverflow.com%2Fquestions%2F72492218%2Fdjango-user-model-employee-and-customer&docid=6rlVW4oihbKxcM&w=1632&h=1394&q=django%20user%20model&ved=2ahUKEwjuqsTM2MeAAxUyoekKHWKBDVcQMygBegUIARDcAQ"
                />
              </div>
              <div class="message">
                <p>The candidates have been <b>shortlisted!</b></p>
                <small class="text-muted">2 mins ago</small>
              </div>
            </div>
          </div>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img
                  src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.stack.imgur.com%2Fwb3fS.png&tbnid=s0-fNUsY5SqDSM&vet=12ahUKEwjuqsTM2MeAAxUyoekKHWKBDVcQMygBegUIARDcAQ..i&imgrefurl=https%3A%2F%2Fstackoverflow.com%2Fquestions%2F72492218%2Fdjango-user-model-employee-and-customer&docid=6rlVW4oihbKxcM&w=1632&h=1394&q=django%20user%20model&ved=2ahUKEwjuqsTM2MeAAxUyoekKHWKBDVcQMygBegUIARDcAQ"
                />
              </div>
              <div class="message">
                <p>The candidates have been <b>shortlisted!</b></p>
                <small class="text-muted">2 mins ago</small>
              </div>
            </div>
          </div>
          <div class="updates">
            <div class="update">
              <div class="profile-photo">
                <img
                  src="https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.stack.imgur.com%2Fwb3fS.png&tbnid=s0-fNUsY5SqDSM&vet=12ahUKEwjuqsTM2MeAAxUyoekKHWKBDVcQMygBegUIARDcAQ..i&imgrefurl=https%3A%2F%2Fstackoverflow.com%2Fquestions%2F72492218%2Fdjango-user-model-employee-and-customer&docid=6rlVW4oihbKxcM&w=1632&h=1394&q=django%20user%20model&ved=2ahUKEwjuqsTM2MeAAxUyoekKHWKBDVcQMygBegUIARDcAQ"
                />
              </div>
              <div class="message">
                <p>The candidates have been <b>shortlisted!</b></p>
                <small class="text-muted">2 mins ago</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="main.js"></script>
  </body>
</html>
